/* 
    Author: Vera Vrbanic
    Theme: Merch Order Website Admin;
    version: 1.0;
*/

/* CSS for All */

@font-face {
    font-family: formula-font;
    src: url(Formula1-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: formula-font;
}

.clearfix{
    float: none;
    clear: both;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}


table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding:1%;
}


.btn-primary{
    background-color: blue;
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: rgb(97, 165, 188);
}

.btn-secondary{
    background-color: #00c21d;
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

.btn-secondary:hover{
    background-color: #7bed9f;
}

.btn-danger{
    background-color: red;
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #C80000;
}

.success{
    color: #00c21d;
}

.error{
    color: red;
}

.primary{
    color: gray;

}

/* MENU*/
.menu{
    border-bottom: 1px solid gray;
}
.menu ul{
    text-decoration: none;
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: red;
}

.menu ul li a:hover{
    color: gray;
}


/* MAIN */
.main{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* FOOTER */
.footer{
    background-color: red;
    color: white;
}


/*LOGIN*/
.login{
    width: 20%;
    border: 1px solid gray;
    margin: 5% auto;
    padding: 2%;
}



